
.card:hover{
    box-shadow: 5px 5px 10px grey, -5px -5px 10px grey;
    transition: 0.3s;
    cursor: pointer;
}
.img-container{
    height: 250px;
}
.card{
    border-radius: 2rem;
    background-color: #e8f9fd;
}
.card-img-top{
    height: 72%;
    border-radius: 2rem 2rem  0 0;
}
.card-body{
    padding: 0;
}



@media screen and (min-width:1200px){
    .course{
        padding: 30px 20px;
    }
}
@media screen and (max-width:575px){
    .course{
        padding: 0 70px;
    }
}
@media screen and (max-width:450px){
    .course{
        padding: 0 40px;
    }
}
